node_modules
dist
coverage
.git
.gitignore
.vscode
.idea
Dockerfile
.dockerignore
docker-compose.yml
DOCKER.md
README.md
npm-debug.log
.env
.env.*.local
.DS_Store
test
*.spec.ts
.eslintignore
.prettierrc
jest.config.js
tsconfig.build.json